@import 'colors.scss';
@import 'fonts.scss';

button{
    border : none;
    outline: none;
    width : 100px;
    height: 40px;
    font-size: 1rem;
    font-family:$Akronim;
    color:$button-fonts-color;
    text-transform: uppercase;
    box-shadow: $shadow-gradiant;

   &:hover{
    color: $button-fonts-hover-color;
    cursor:pointer !important;
    background-color:lightgrey;
   }
    &:active{
    background-color:darkgrey;
    cursor: progress;
    color: $button-fonts-active-color;
    box-shadow: $shadow-gradiant-inside;
    }
}