@import 'reset.scss';
@import 'colors.scss';
@import 'buttons.scss';
@import 'fonts.scss';
@import 'sizes.scss';
@import 'checkbox.scss';

*{
    box-sizing: border-box;
    background:$root-light-background;
    border-radius: 7px;
    margin: 0;
}